
#appMenu {
	height: 100%;
	width: 300px;
	position: absolute;
	padding: 15px;
}

#appMenu .infoPanel ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#managerModal tr button {
	margin-left: 1em;
}

.legendPanel table span {
	font-size: 2em;
	line-height: 0;
}

.node {
	stroke: #fff;
	stroke-width: 1.5px;
}

.link {
	stroke: #999;
	stroke-opacity: .6;
}


/* vim: set ts=4 sw=4 autoindent: */
