{#
 ====================================================================
 CRUSHSim - CRUSH Simulation web app for Ceph admins
 ---------------------------------------------------
 
 By Xavier Villaneau, 2015
 xavier.villaneau@fr.clara.net or xvillaneau@gmail.com
 Claranet SAS, Rennes, France
 ====================================================================
 editor-list.html - Jinja template for the CRUSH map selection and
 upload prior to editing.
  - Allows selection of an existing CRUSH map, leads to editor
  - Also allows uploading of a new CRUSH map

 Changelog:
 ----------
 May 4th 2015 - Initial release
#}
{% extends "layout.html" %}
{% block main %}
	<h1>Interactive CRUSH map editor</h1>
	<p>Please select which CRUSH map to load into the interactive editor</p>
	<div class="row">
		<div class="col-md-6">
			<h2>Saved CRUSH maps</h2>
			{% for map in crushmaps %}
			{% if loop.first %}
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>Last modified</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
			{% endif %}
					<tr class="crush-map-avail">
						<td class="crush-map-id">{{ map.id }}</td>
						<td>{{ map.modtime|strftime }}</td>
						<td>
							<a class="btn btn-default btn-xs" href="/editor/{{ map.id }}">Edit</a>
						</td>
					</tr>
			{% if loop.last %}
				</tbody>
			</table>
			{% endif %}
			{% else %}
			<p>There is currently no saved CRUSH map</p>
			{% endfor %}
		</div>
		<div class="col-md-6">
			<h2>CRUSH map preview</h2>
			<p>Click on a CRUSH map in the list to see its contents</p>
			<pre class="panel panel-default pre-scrollable" id="crush-map-preview">
			</pre>
		</div>
	</div>
	<h2>Upload a CRUSH map</h1>
	<form action="" method=POST enctype="multipart/form-data">
		<div class="form-group">
			<label for="crushTexttFile">CRUSH map text file</label>
			<input type="file" id="crushTextFile" name="crushTextFile">
			<p class="help-block">This should be a valid <b>decompiled text</b> CRUSH map</p>
		</div>
		<button type="submit" class="btn btn-default">Upload and edit</button>
	</form>

{% endblock %}
{% block footer %}
<script src="{{ url_for('static', filename='maps-list.js') }}"></script>
{% endblock %}
