{#
 ====================================================================
 CRUSHSim - CRUSH Simulation web app for Ceph admins
 ---------------------------------------------------
 
 By Xavier Villaneau, 2015
 xavier.villaneau@fr.clara.net or xvillaneau@gmail.com
 Claranet SAS, Rennes, France
 ====================================================================
 editor-list.html - Jinja template for the CRUSH map selection and
 upload prior to editing.
  - Allows selection of an existing CRUSH map, leads to editor
  - Also allows uploading of a new CRUSH map

 Changelog:
 ----------
 May 4th 2015 - Initial release
 June 15th 2015 - Maps list is now handled by maps-list.js, removed upload form
#}
{% extends "layout.html" %}
{% block main %}
	<h1>Interactive CRUSH map editor</h1>
	<p>Please select which CRUSH map to load into the interactive editor</p>
	<div class="row">
		<div class="col-md-6">
			<h2>Saved CRUSH maps</h2>
			<div class="crush-maps-list">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Last modified</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-6">
			<h2>CRUSH map preview</h2>
			<p>Click on a CRUSH map in the list to see its contents</p>
			<pre class="panel panel-default pre-scrollable" id="crush-map-preview">
			</pre>
		</div>
	</div>
	<h2>Upload a CRUSH map</h1>
	<form action="" method=POST enctype="multipart/form-data">
		<div class="form-group">
			<label for="crushTexttFile">CRUSH map text file</label>
			<input type="file" id="crushTextFile" name="crushTextFile">
			<p class="help-block">This should be a valid <b>decompiled text</b> CRUSH map</p>
		</div>
		<button type="submit" class="btn btn-default">Upload and edit</button>
	</form>

{% endblock %}
{% block footer %}
<script>
// Defines the button in the table, as required by maps-list.js
function mapRowButton(row) {
	$('<td>')
	 .html('<a class="btn btn-default btn-xs" href="/editor/' + row.prop('crushUuid') + '">Edit</a>')
	 .appendTo(row);
};
</script>
<script src="{{ url_for('static', filename='maps-list.js') }}"></script>
{% endblock %}
{# vim: set syntax=htmljinja ts=4 sw=4 autoindent:#}
