{#
 =================================================================
 editor.html - Jinja template for the CRUSH map interactive editor
 By Xavier Villaneau, Claranet SAS Rennes, France
 (xavier.villaneau@fr.clara.net or xvillaneau@gmail.com)
 April 2015
#}
{% extends "layout.html" %}
{% block main %}
	<div class="row">
		<div class="col-md-3">
			{# Column on the left for information panels and menus #}
			<h2>Interactive CRUSH map editor</h2>
			<div class="panel panel-primary">
				{# This panel is used to display information about the selected node #}
				<div class="panel-heading"><h3 class="panel-title">Node information</h3></div>
				<div class="panel-body" id="node-info">
					{# Will be filled in by editor.js #}
					<p>Please select a node (bucket or OSD) by clicking on it to start</p>
				</div>
			</div>
			<div class="panel panel-primary">
				{# This panel is for displaying the buttons and forms for actions.
				Mostly everything is disabled or hidden by default, JS then enables
				or shows stuff when needed.#}
				<div class="panel-heading"><h3 class="panel-title">Node actions</h3></div>
				<div class="panel-body" id="node-actions">
					<div class="btn-group btn-group-justified">
						<p class="btn btn-success disabled btn-add-node">Add node</p>
						<p class="btn btn-danger disabled btn-del-node">Remove node</p>
					</div>
					<form class="form-add-bucket" style="display: none;" action="javascript:void(0);" >
						<div class="form-group">
							<input type="text" class="form-control" id="new-bucket-name" placeholder="Bucket name">
							<select class="form-control" id="new-bucket-type">
							</select>
						</div>
						<button type="submit" class="btn btn-default">Create bucket</button>
					</form>	
					<form class="form-add-osd" style="display: none;" action="javascript:void(0);" >
						<div class="form-group">
							<div class="input-group">
								<input type="text" class="form-control" id="new-osd-size" placeholder="OSD size">
								<div class="input-group-addon">GB</div>
							</div>
						</div>
						<button type="submit" class="btn btn-default btn-add-osd">Create OSD</button>
					</form>	
				</div>
			</div>
			<form class="submit-changes" action="javascript:void(0);">
				<button type=submit" class="btn btn-primary btn-block disabled submit-changes">
					Submit changes
				</button>
			</form>
		</div>
		<div class="col-md-9" id="clustermap">
			{# Larger col on the right for the map, editor.js to fill it in with D3.js #}
		</div>
	</div>
{% endblock %}
{% block footer %}
	<script src="{{ url_for('static', filename='lib/d3.v3.min.js') }}"></script>	
	<script>
		{# Will tell editor.js where to look for data. Maybe not needed... #}
		crushTreeUrl = '/crushtree/{{ crushid }}.json';
		crushDataUrl = '/crushdata/{{ crushid }}.json';
	</script>
	<script src="{{ url_for('static', filename='editor.js') }}"></script>
{% endblock %}
