{#
 ====================================================================
 CRUSHSim - CRUSH Simulation web app for Ceph admins
 ---------------------------------------------------
 
 By Xavier Villaneau, 2015
 xavier.villaneau@fr.clara.net or xvillaneau@gmail.com
 Claranet SAS, Rennes, France
 ====================================================================
 home.html - Jinja template for the Homepage. Not very useful...

 Changelog:
 ----------
 May 4th 2015 - Initial release
#}
{% extends "layout.html" %}
{% block main %}
		<div class="jumbotron">
			<h1>CRUSH simulation tool</h1>
			<p>This is still under development, and aims to enable Ceph admins to predict large data migrations following changes in topology or CRUSH behaviour.</p>
		</div>
{% endblock %}
