{#
 ====================================================================
 CRUSHSim - CRUSH Simulation web app for Ceph admins
 ---------------------------------------------------
 
 By Xavier Villaneau, 2015
 xavier.villaneau@fr.clara.net or xvillaneau@gmail.com
 Claranet SAS, Rennes, France
 ====================================================================
 layout.html - Jinja template that includes the HTML layout for all
 other pages. Includes the menu and alert messages.

 Changelog:
 ----------
 May 4th 2015 - Initial release
#}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}CRUSHsim{% endblock %}</title>
	<link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
	<style>
		body {
		  margin-bottom: 150px;
		}
	</style>
	{% block header %}{% endblock %}
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/editor">Edit</a></li>
				<li><a href="/analyze">Analyze</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		{% with messages = get_flashed_messages() %}
		<div class="alerts">
		{% for message in messages %}
			<div class="alert alert-info" role="alert">{{ message }}</div>
		{% endfor %}
		</div>
		{% endwith %}
		
		{% block main %}
		<h1>Default page</h1>
		<p>This page should not show up !</p>
		{% endblock %}
	</div>

	<script src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>
	<script>
		function displayAlert(message, category) {
			var category = (typeof category === 'undefined') ? 'default' : category;
			var msgtypes = ['default','info','success','warning','danger','error'];
			if (msgtypes.indexOf(category) >= 0) {
				// 'error' is only a useful alias for 'danger'
				category = (category == 'error') ? 'danger' : category;
				
				var tmpl = '<div class="alert alert-dismissible alert-CAT">' + 
				           '<button type="button" class="close" data-dismiss="alert">×</button>'+
                           'MSG</div>';
				$('.alerts').append(tmpl.replace('CAT', category).replace('MSG', message));
			};
		};
	</script>
	{% block footer %}{% endblock %}
</body>
</html>
