{#
 ====================================================================
 CRUSHSim - CRUSH Simulation web app for Ceph admins
 ---------------------------------------------------
 
 By Xavier Villaneau, 2015
 xavier.villaneau@fr.clara.net or xvillaneau@gmail.com
 Claranet SAS, Rennes, France
 ====================================================================
 onepageapp.html - Jinja template for the one page CRUSHsim app.
#}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}CRUSHsim{% endblock %}</title>
	<link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
	{% block header %}{% endblock %}
</head>
<body style="overflow: hidden;">
	<div id="graph-map"></div>
	<div id="box-welcome" style="width: 400px; height:150px; margin: auto;">Welcome to CRUSHsim!</div>

	<script src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='lib/d3.v3.min.js') }}"></script>
	<script src="{{ url_for('static', filename='onepageapp.js') }}"></script>
	{#<script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>#}
	{% block footer %}{% endblock %}
</body>
</html>
{# vim: set syntax=htmljinja ts=4 sw=4 autoindent:#}
